<!-- <link rel="stylesheet" href="/css/footer.css"> -->
<!-- css of included files in layout doesn't get into head tag, only of body get into head -->
<footer>
    <h4>
        @Developed by Somya
    </h4>
</footer>