<header>
    <nav>
        <a href="/users/signin">Sign In</a>
        <a href="/users/signup">Sign Up</a>
        <a href="/">Homepage</a>
        <a href="/users">User Homepage</a>
        <a href="/users/userprofile">User Profile page</a>
    </nav>
</header>