<h1>user profile page</h1>
<a href="/signout">Sign Out</a>

<p>To display details of the signed in user</p>
<div>
    <p>Name is :
        <%= user.name %>
    </p>

    <p>Email is :
        <%= user.email %>
    </p>

</div>